*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 25px;
}
.task{
        width: 300px;
        padding: 25px;
        background: linear-gradient(
            72deg,
            #ff5627fc,
            rgb(255 204 16 / 35%)
        );
        border-radius: 9px;
        box-shadow: 0 0 5px black;
}
.task__header{
    color: white;
}
.task__caption{
    display: inline-block;
    float: right;
}
